{% extends 'base.html' %}

{% block title %}
<title>Editar Noticia</title>
{% endblock title %}

{% block texto_header %}
<h4>
    Editar Noticia
</h4>
{% endblock texto_header %}

{% block despues_del_header %}
<nav class="navbar-light bg-light static-top noticias">
    <div class="container">
        <a class="navbar-brand" href={% url 'listado_noticias' %}>Volver</a>
    </div>
</nav>
<p>
    <form action={% url 'editar_noticia' noticia.id %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Editar</button>
    </form>
</p>
{% endblock despues_del_header %}