{% extends 'base.html' %}

{% block title %}
<title>Listado de Noticias</title>
{% endblock title %}

{% block texto_header %}
<h1>
    Listado de Noticias
</h1>
{% endblock texto_header %}

{% block despues_del_header %}
<nav class="navbar-light bg-light static-top noticias">
    <div class="container">
        <a class="navbar-brand" href={% url 'crear_noticia' %}>Crear Noticia</a>
    </div>
</nav>
<p>
    <form action={% url 'listado_noticias' %}>
        {{form}}
        <button>Buscar</button>
    </form>
</p>

<p>
    {% if object_list %}
    <ul>
        {% for noticia in object_list %}
        <li>
            {{noticia}}

            <nav class="navbar-light listado">
                <div>
                    <a class="navbar-brand" href={% url 'mostrar_noticia' noticia.id %}>Mostrar</a>
                    <a class="navbar-brand" href={% url 'editar_noticia' noticia.id %}>Editar</a>
                    <a class="navbar-brand" href={% url 'eliminar_noticia' noticia.id %}>Eliminar</a>
                </div>
            </nav>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    No se encontraron datos.
    {% endif %}
</p>
{% endblock despues_del_header %}