{% extends 'base.html' %}

{% block title %}
<title>Noticia</title>
{% endblock title %}

{% block texto_header %}
<h1>
    Noticia
</h1>
{% endblock texto_header %}

{% block despues_del_header %}
<nav class="navbar-light bg-light static-top noticias">
    <div class="container">
        <a class="navbar-brand" href={% url 'listado_noticias' %}>Volver</a>
    </div>
</nav>
<p>
    <ul>
        <li>
            {{noticia.titulo}}
        </li>
        <li>
            {{noticia.contenido}}
        </li>
        <li>
            {{noticia.fecha_creacion}}
        </li>
    </ul>
</p>
{% endblock despues_del_header %}